<%- include('partials/metadata') %>
<link rel="stylesheet" href="/css/styles-products.css">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <h2 class="tittle-class"> PRODUCTOS URBANOS </h2>
        <div id="div-products" class="col-12 col-sm-6 col-lg-3">
            <% productsUrbanos.forEach(productUrbano=> { %>
                <article class="product-box">
                    <div class="box-son">
                    <a href="/products/detail/<%=productUrbano.id%> ">
                        <figure class="product-box_image">
                            <img class="image" src="/images/<%=productUrbano.image %> "
                                alt="imagen de producto">
                        </figure>
                        <section class="product-box_data">

                            <h3 class="name-product"><%= productUrbano.name  %> </h3>

                            <h4 class="price-product">
                               $<%=productUrbano.price%>
                            </h4>
                           
                        </section>
                    </a>
                </div>
                </article>
                <% }) %>   
        </div>           
        <h2 class="tittle-class"> PRODUCTOS DEPORTIVOS </h2>
        <div id="div-products" class="col-12 col-sm-6 col-lg-3">
            <% productsDeportivos.forEach(productDeport=> { %>
                <article class="product-box">
                    <div class="box-son">
                    <a href="/products/detail/<%=productDeport.id%> ">
                        <figure class="product-box_image">
                            <img class="image" src="/images/<%=productDeport.image %> "
                                alt="imagen de producto">
                        </figure>
                        <section class="product-box_data">

                            <h3 class="name-product"><%= productDeport.name  %> </h3>

                            <h4 class="price-product">
                               $<%=productDeport.price%>
                            </h4>
                           
                        </section>
                    </a>
                </div>
                </article>
                <% }) %>   
        </div>           
    </main>
    
</body>

<%- include('partials/footer') %>