<%- include('partials/metadata') %>
     <link rel="stylesheet" href="/css/styles-createProduct.css">
     <link rel="stylesheet" href="/css/styles.css">
     </head>

     <body>
          <%- include('partials/header') %>
               <main class="main-container">
                    <section>
                         <div class="contenido">

                              <form class="form-padre" action="/products/<%=productToEdit.id %>?_method=PUT"
                                   method="POST">
                                   <div class="form-hijo">
                                        <!-- ----TÍTULO----  -->
                                        <div>
                                             <h1 class="titulo">EDITANDO <%=productToEdit.name %> </h1>
                                        </div>


                                        <div class="grupo">
                                             <!-- ----NOMBRE ----  -->
                                             <div class="form-nombre">
                                                  <label for="name">Nombre del producto</label></br></br>
                                                  <input type="text" name="name" id="name"
                                                       value="<%= productToEdit.name %>" class="nombre-producto-create"
                                                       placeholder="EJ: Nike Jordan">

                                             </div>

                                             <!-- ----PRECIO----  -->
                                             <div class="grupo">
                                                  <label for="price">Precio</label></br></br>
                                                  <input type="text" name="price" id="price"
                                                       value="<%= productToEdit.price %>" class="precio-product-create">
                                             </div>

                                             <!-- ----CATEGORÍA----  -->
                                             <div class="grupo">
                                                  <label for="category">Categoría:</label></br></br>
                                                  <select class="textarea-input" id="categoria-create" name="category">
                                                       <option value="" selected disabled hidden>Elegí una opción
                                                       </option>
                                                       <option class="textarea-input" <% if
                                                            (productToEdit.category=='Urbana' ) { %>
                                                            selected
                                                            <% } %>
                                                                 value="Urbana">Urbana
                                                       </option>
                                                       <option class="textarea-input" <% if
                                                            (productToEdit.category=='Deportiva' ) { %>
                                                            selected
                                                            <% } %>value="Deportiva">Deportiva
                                                       </option>
                                                  </select>
                                             </div>


                                        </div>
                                        <div class="grupo">
                                             <!-- ----DESCRIPCIÓN----  -->
                                             <div class="form-descipcion">
                                                  <label for="description">Descripción</label></br>
                                                  <textarea name="description" id="description"
                                                       class="textarea-input"><%= productToEdit.description %> >
                                                  </textarea>
                                             </div>

                                        </div>
                                        <!-- ----BOTÓN "GUARDAR"----  -->
                                        <button type="submit" class="boton-guardar">EDITAR</button>
                                   </div>
                              </form>
						
                         </div>
                         <form action="/products/delete/¿¿" method="POST" >
							<button type="submit" class="boton-guardar">ELIMINAR</button>
						</form>
                    </section>
               </main>
               <%- include('partials/footer') %>
     </body>

     </html>