<%- include('../partials/metadata') %>
     <link rel="stylesheet" href="/css/styles-createProduct.css">
     <link rel="stylesheet" href="/css/styles.css">
     </head>

     <body>
          <%- include('../partials/header') %>
               <main class="main-container">
                    <section>
                         <div class="contenido">

                              <form class="form-padre" action="/administrar/edit/<%=shoeEditar.id %>?_method=PUT"
                                   method="POST" enctype="multipart/form-data" > 
                                   <div class="form-hijo">
                                        <!-- ----TÍTULO----  -->
                                        <div>
                                             <h1 class="titulo">EDITANDO <%=shoeEditar.name %> </h1>
                                        </div>


                                        <div class="grupo">
                                             <!-- ----NOMBRE ----  -->
                                             <div class="form-nombre">
                                                  <label for="name">Nombre del producto</label></br></br>
                                                  <input type="text" name="nombre" required="required"
                                                       value="<%= shoeEditar.name %>" class="nombre-producto-create"
                                                       placeholder="EJ: Nike Jordan">

                                             </div>

                                             <!-- ----PRECIO----  -->
                                             <div class="grupo">
                                                  <label for="price">Precio</label></br></br>
                                                  <input type="number" name="precio" required="required"
                                                       value="<%= shoeEditar.price %>" class="precio-product-create">
                                             </div>

                                             <!-- ----CATEGORÍA----  -->
                                             <div class="grupo">
                                                  <label for="category">Categoría:</label></br></br>
                                                  <select class="textarea-input" id="categoria" name="categoria">
                                                       <option value="<%=shoeEditar.category.id %>" selected hidden><%=shoeEditar.category.name %>
                                                       </option>
                                                       <% categorias.forEach(categoria => { %>
                                                            <option value="<%=categoria.id %>"><%=categoria.name %></option>
                                                          <% }); %>
                                                  </select>
                                             </div>


                                        </div>
                                             <div class="grupo">
                                           <!-- ----DESCRIPCION----  -->
                                                  <div class="form-descipcion">
                                                       <label for="description">Descripción</label></br>
                                                       <textarea name="descripcion" required="required"
                                                            class="textarea-input" value="<%= shoeEditar.description %>">
                                                       </textarea>
                                                  </div>
                                             </div>  
                                             <!-- --- IMAGEN----  -->    
                                              <div class="grupo">

                                                  <input type="hidden"  name="oldImagen"  value="<%= shoeEditar.image%>">
                                                   <input type="file" name="imagen" >
                                                  <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                               </div>
                                             </div>
                                        
                                        <!-- ----BOTÓN "GUARDAR"----  -->
                                        <button type="submit" class="boton-guardar">EDITAR</button>
                                   </div>
                              </form>
						
                         </div>
                      
                    </section>
               </main>
               <%- include('../partials/footer') %>
     </body>

     </html>