<%- include('../partials/metadata') %>
     <link rel="stylesheet" href="/css/styles-createProduct.css">
     <link rel="stylesheet" href="/css/styles.css">
     </head>

     <body>
          <%- include('../partials/header') %>
               <main class="main-container">
                    <!-- ----TÍTULO----  -->
                    <div>
                         <h1 class="titulo">Editar producto </h1>
                    </div>

               <section>
                    <form action="/administrar/edit/<%=shoeEditar.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                         <label for="name">Nombre del producto</label>
                         <input type="text" name="nombre" required="required"  value="<%= shoeEditar.name %>" placeholder="EJ: Nike Jordan">

                         <label for="description">Descripción</label>
                         <textarea name="descripcion" required="required"> <%= shoeEditar.description %>
                              </textarea>

                         <label for="price">Precio</label>
                         <input type="number" name="precio" required="required" value="<%= shoeEditar.price %>" >

                         <label>Foto del producto</label>
                         <input type="hidden"  name="oldImagen"  value="<%= shoeEditar.image%>">
                         <input type="file" name="imagen" >

                         <label for="category">Categoria</label>
                         <select  id="categoria" name="categoria">
                              <option value="<%=shoeEditar.category.id %>" selected hidden><%=shoeEditar.category.name %>
                              </option>
                              <% categorias.forEach(categoria => { %>
                                   <option value="<%=categoria.id %>"><%=categoria.name %></option>
                                 <% }); %>
                         </select>

                            <button type="submit" class="boton-guardar">Guardar</button>
                    </form>
               </section>
               </main>
               <%- include('../partials/footer') %>
     </body>

     </html>