<%- include('../partials/metadata') %>
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div>
                    <ul id="errores"> </ul>
                  </div>


                        <div class="contenido">
                            <form method="POST" action="/ingresar" id="form-padre">
                                <div class="form-hijo">

                                    <h1> INICIA SESIÓN </h1>

                                    <div class="grupo">
                                        <input type="text" name="email" id="name" required minlength="5"><span
                                            class="barra"></span>
                                        <label for=""> Email: </label>
                                        <% if(typeof(errors) != 'undefined'){%>
                                            <span class="text-danger">
                                              <%= errors[0].msg %>
                                            </span>
                                         <%}%>
                                    </div>

                                    <div class="grupo">
                                        <input type="password" name="password" id="name" required minlength="8"><span
                                            class="barra"></span>
                                        <label for=""> Contraseña: </label>
                                        <% if(typeof(errors) != 'undefined'){%>
                                            <span class="text-danger">
                                              <%= errors[0].msg %>
                                            </span>
                                         <%}%>
                                    </div>
                                    
                                    <label class="grupo">
                                        Recordarme
                                        <input name="remember" type="checkbox">
                                    </label>    

                                <div>
                                    <button type="submit" class="boton-formulario"> INGRESAR </button>
                                </div>

                                <div>


                                    <div class="flex-media-query">
                                        <div>
                                            <a href="/registro" class="link-register">Regístrate</a>
                                        </div>

                                        <div class="recuperar-contraseña">
                                            <a href="#">¿Olvidaste tu contraseña?</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>